*{
    padding:0;
    margin:0;
}
.m-0{
    margin:0;
}
.p-0{
    padding:0;
}
.topbar{
    background:#43824f;
    display:flex;
    justify-content:flex-end;
    padding: 8px 0;
}
.addList{
    padding-right:10px;
    color:white;
}
.topbar-dropbtn {
    background-color: #43824f;
    color: white;
    /*padding: 4px;*/
    font-size: 16px;
    border: none;
    margin-right:20px;
}

.topbar-dropdown {
    position: relative;
    display: inline-block;
}

.topbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /*min-width: 160px;*/
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.topbar-dropdown-content a {
    color: #43824f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.topbar-dropdown-content a:hover {
    background-color: white;
}

.topbar-dropdown:hover .topbar-dropdown-content {
    display: block;
}

.topbar-dropdown:hover .topbar-dropbtn {
    background-color: #3e8e41;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid lightgray;
}
.headerLeft{
    display:flex;
}
.headerRight{
    display:flex;
}
.mobileHeader{
    display:none;
}
.homemenu {
    position: relative;
    display: inline-block;
}
.homemenu a{
    color:black;
    padding:10px 15px;
}
.homemenu a:hover{
    text-decoration:none;
}
.homemenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.homemenu-content li{
    padding: 10px;
}
.homemenu:hover .homemenu-content {
    display: block;
}
.homemenu-content ul{
    list-style: none;
    margin:0;
    background-color:#f9f9f9;
}
.homemenu-submenu ul{
    width: 100%;
    list-style: none;
    display: none;
    position: absolute;
    left:230px;
    /*background-color: red;*/
    margin-top: -15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 5px;
    border-radius: 5px;
}
.homemenu-submenu ul li{
    width: 230px;
    list-style: none;
}
.homemenu-submenu:hover ul{
    display: block;
}
/*.menuItems{*/
/*    list-style-type:none;*/
/*    display:flex;*/
/*}*/
/*.menuItems li{*/
/*    padding-left: 20px;*/
/*}*/
/*.home{*/
/*    background-color: #43824f;*/
/*    color: white;*/
    /*padding: 4px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    margin-right:20px;*/
/*    padding-left: 20px;*/
/*}*/
/*.home:hover .home-d{*/
/*    display:block;*/
/*}*/
/*.home-d{*/
/*    background: red;*/
/*    position: absolute;*/
/*    z-index: 10;*/
/*    min-width: 200px;*/
/*    margin-top:25px;*/
/*    display:none*/
/*}*/
.banner{
    height: auto;
    display: flex;
    place-items: center;
    padding: 100px 0;
}
.bannerFirstRow{
    display:flex;
    flex-wrap:wrap;
}
.bannerFirstRow input{
    border:none;
    box-shadow: 0 0 25px 0 rgb(125 91 64 / 15%);
    border-radius: 5px;
    outline: 0;
    /*cursor: pointer;*/
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #adadad;
    padding: 13px 18px 15px;
}
.bannerFirstRow select{
    border:none;
    box-shadow: 0 0 25px 0 rgb(125 91 64 / 15%);
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #adadad;
    padding: 13px 18px 15px;
}
.bannerSecondRow{
    display:flex;
    flex-wrap:wrap;
    margin-top:25px;
    justify-content: center;
}
.bannerSecondRow a{
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 0 28px;
    margin: 0 5px;
    color: #848484;
    text-decoration:none;
    border-radius:5px;
}
.bannerSecondRow a:hover{
    border-color: #ababab;
}
.searchBtn{
    background-color: #43824f;
    border: 2px solid #43824f;
    border-radius: 5px;
    width: 100%;
    margin: 0 5px;
    padding: 8px 26px 10px;
    color:white;
}
.cart{
    padding-right:15px;
}
.cart a{
    color: #3c3a32;
    text-decoration:none;
}
.signIn a{
    color: #3c3a32;
    text-decoration:none;
}
.viewAllBtn a{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-decoration:none;
}
.cardBoxHeader{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom:2px solid lightgray;
}
.item a{
    text-decoration:none;
}
.item-header{
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-summary{
    color: #388e3c;
    padding-top: 8px;
    margin:0;
}

.footerOne{
    padding: 90px 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-color: #fbfaf8;
}
.footer-items li{
    list-style-type:none;
}
.footer-items a{
    color: #848484;
    text-decoration:none;
}
.footerTwo{
    background-image:url("images/footer-bg.jpg");
    padding: 75px 40px;
}
.footer-nav-a{
    display: flex;
    justify-content: center;
    margin-top:20px;
    flex-wrap:wrap;
}
.footer-nav-a a{
    text-decoration:none;
}
.footer-icon{
    margin:0 20px;
    color:white;
    font-size: 20px;
}
.footer-icon:hover{
    margin-top:-2px;
}
.footer-icons-section{
    display: flex;
    justify-content: center;
}
.footerTwo h6{
    padding-right:20px;
    color: #f6f6f6;
}
.footerTwo h6:hover{
    opacity:.8;
}

@media only screen and (max-width:1199px){
    .footerOne h4{
        margin-top:20px;
    }
}
@media only screen and (max-width:1024px){
    .mobileHeader{
        display:block;
        padding:20px 80px;
    }
    .topbar{
        display:none;
    }
    .header{
        display:none;
    }
    .mobileHeaderTopbar{
        display: flex;
        justify-content: space-between;
    }
    .mobileHeaderRight{
        display:flex;
    }
    .mobileSignin{
        padding-right:20px;
    }
    .mobileMenuItems{
        height:250px;
        display:none;
        overflow:scroll;
    }
    .mobileMenuItem{
        display:flex;
        justify-content:space-between;
        padding:10px 0;
        border-bottom: 1px solid lightgray;
    }
    .mobileMenuItem p{
        font-weight:600;
    }
    #mmItemsOne{
        display:none;
    }
    #mmItemsOne li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsTwo{
        display:none;
    }
    #mmItemsTwo li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsThree{
        display:none;
    }
    #mmItemsThree li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsFour{
        display:none;
    }
    #mmItemsFour li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsFive{
        display:none;
    }
    #mmItemsFive li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsSix{
        display:none;
    }
     #mmItemsSix li{
        list-style:none;
        padding-left:10px;
    }
}
@media only screen and (max-width:991px){
    .mobileHeader{
        display:block;
        padding:20px 60px;
    }
    .mobileMenuItems{
        height:350px;
    }
    .bannerSecondRow a{
        padding: 0 16px;
    }
}
@media only screen and (max-width:800px){
    .bannerFirstRow input{
        margin-bottom:10px;
    }
    .bannerFirstRow select{
        margin-bottom:10px;
    }
    .bannerSecondRow a{
        padding: 0 16px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width:768px){
    .mobileHeader{
        display:block;
        padding:20px;
    }
}