.homeIcon{
  float:right;
}
nav {    
    display: block;
    /*text-align: center;*/
}
nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.nav a {
    display:block; 
    /*background: #111; */
    color: black; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    /*text-shadow: 0 -1px 0 #000;*/
    position: relative;
}
.nav{  
    vertical-align: top; 
    display: inline-block;
    /*box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;*/
    border-radius:6px;
}
.nav li {
    position: relative;
}
.nav > li { 
    float: left; 
    border-bottom: 4px #fff solid; 
    margin-right: 0px; 
} 
.nav > li > a { 
    margin-bottom: 1px;
    /*box-shadow: inset 0 2em .33em -0.5em #555; */
}
/*.nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: orange;
}
.nav li:hover > a { 
  color:orange; 
}*/
.nav > li:first-child { 
    border-radius: 4px 0 0 4px;
} 
.nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
}
.nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
} 
.nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
}
.nav li li a { 
    margin-top: 1px;
}
/*.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }*/


 /* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    /*border-bottom: 5px solid  orange;*/
    z-index: 1;
    left: -99999em;
    background-color: white;
}
.nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    /*min-width: 110%;*/
}
.nav > li li:hover > ul { 
    left: 100%;
    /*margin-left: 1px;*/
    /*top: -1px;*/
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    /*border-right-color: orange;*/
    right: 10px; 
}


.form-wrapper-outer{
    padding: 40px;
    border-radius: 8px;
    margin: auto;
    width: 460px;
    border: 1px solid #DADCE0;
    margin-top: 7%;
}

.form-wrapper-outer .form-logo{
    margin: 0px auto 15px;
    width: 100px;
}

.form-wrapper-outer .form-logo img{
    width: 100%;
}

.form-greeting{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.form-button{
    text-align: right;
}

.field-wrapper{
    position: relative;
    margin-bottom: 15px;
}

.field-wrapper input{
    border: 1px solid #DADCE0;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}

.field-wrapper .field-placeholder{
    font-size: 12px;
    position: absolute;
    /* background: #fff; */
    bottom: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    left: 8px;
    top:10px;
    /* padding: 0 8px; */
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    z-index: 1;

    text-align: left;
    width: 100%;
}        

.field-wrapper .field-placeholder span{
    background: #ffffff;
    padding: 0px 8px;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder
{
    color:grey;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder
{
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-28px) translateX(-40px);
    
}


.floatingLabelSelect { 
    position:relative; 
    margin-bottom:20px; 
  }

  .floatingSelectInput {
      margin-top: 20px;
    font-size:14px;
    padding:4px 4px;
    display:block;
    width:100%;
    height:40px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #757575;
   
  }

  .floatingSelectInput:focus {
       outline:none;
       border-bottom:2px solid #5264AE; 
  }

  .selectLabel {
    color:#999; 
    font-size:12px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:10px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .floatingSelectInput:focus ~ label , .floatingSelectInput:not([value=""]):valid ~ label {
    top:-10px;
    left:15px;
    font-size:12px;
    color:grey;
    background-color: white;
  }

  /* active state */
  .floatingSelectInput:focus ~ .floatingSelectInput:focus ~  {
    width:50%;
  }

  *, *:before, :after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }


   .floatingSelectInput:focus ~  {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  .selectInputWidth{
      width: 330px;
  }

  .smallFont
  {
    font-size: 12px;
  }
  
