*{
    padding:0;
    margin:0;
}
body{
    font-family: Roboto,Arial,sans-serif;
}
.m-0{
    margin:0;
}
.p-0{
    padding:0;
}

/* START Top Navbar */
.topbar{
    color:white;
    padding-left:50px;
    height:30px;
    font-size:12px;
    background: #43820f;
}
.topbar a{
    color:white;
    padding-top:5px;
}
.topbar-header{
    padding-left:25px;
    font-size:12px;
    padding-top:5px;
}
.topbar-right{
    font-size:11px;
}
.topbar img{
    padding-top:5px;
    width:15px;
    height:24px;
}
/* END Top Navbar */

/*.topbar{*/
/*    background:#43824f;*/
/*    display:flex;*/
/*    justify-content:flex-end;*/
/*    padding: 8px 0;*/
/*}*/
/*.addList{*/
/*    padding-right:10px;*/
/*    color:white;*/
/*}*/
/*.topbar-dropbtn {*/
/*    background-color: #43824f;*/
/*    color: white;*/
    /*padding: 4px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    margin-right:20px;*/
/*}*/

/*.topbar-dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.topbar-dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: white;*/
    /*min-width: 160px;*/
/*    width:100%;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/

/*.topbar-dropdown-content a {*/
/*    color: #43824f;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.topbar-dropdown-content a:hover {*/
/*    background-color: white;*/
/*}*/

/*.topbar-dropdown:hover .topbar-dropdown-content {*/
/*    display: block;*/
/*}*/

/*.topbar-dropdown:hover .topbar-dropbtn {*/
/*    background-color: #3e8e41;*/
/*}*/


.header{
    display:flex;
    justify-content: space-between;
    padding: 0 40px;
    /*border-top: 1px solid lightgray;*/
    background: #43824f;
}
.headerLeft{
    display:flex;
}
.headerRight{
    display:flex;
}
.mobileHeader{
    display:none;
}
.homemenu {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.homemenu a{
    color:white;
    padding:18px 15px;
    display: flex;
}
.homemenu a:hover{
    text-decoration:none;
}
.homemenu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.homemenu-content a{
    color:black;
    padding:8px 15px;
}
/*.homemenu-content li{*/
/*    padding: 10px;*/
/*}*/
.homemenu:hover .homemenu-content {
    display: block;
}
.homemenu-content ul{
    list-style: none;
    margin:0;
    background-color:#f9f9f9;
}
.homemenu-submenu ul{
    width: 100%;
    list-style: none;
    display: none;
    position: absolute;
    left:230px;
    /*background-color: red;*/
    margin-top: -15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 5px;
    border-radius: 5px;
}
.homemenu-submenu ul li{
    width: 230px;
    list-style: none;
}
.homemenu-submenu:hover ul{
    display: block;
}
.banner{
    height: auto;
    display: flex;
    place-items: center;
    padding: 100px 0 60px;
}
.bannerFirstRow{
    display:flex;
    flex-wrap:wrap;
}
.bannerFirstRow input{
    border:none;
    box-shadow: 0 0 25px 0 rgb(125 91 64 / 15%);
    border-radius: 5px;
    outline: 0;
    /*cursor: pointer;*/
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #adadad;
    padding: 13px 18px 15px;
}
.bannerFirstRow select{
    border:none;
    box-shadow: 0 0 25px 0 rgb(125 91 64 / 15%);
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #adadad;
    padding: 13px 18px 15px;
}
.bannerSecondRow{
    display:flex;
    flex-wrap:wrap;
    margin-top:25px;
    justify-content: center;
}
.bannerSecondRow a{
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 0 28px;
    margin: 0 5px;
    color: #848484;
    text-decoration:none;
    border-radius:5px;
}
.bannerSecondRow a:hover{
    border-color: #ababab;
}
.searchBtn{
    background-color: #43824f;
    border: 2px solid #43824f;
    border-radius: 5px;
    width: 100%;
    margin: 0 5px;
    padding: 8px 26px 10px;
    color:white;
}
/*.cart{*/
/*    padding-right:15px;*/
/*}*/
/*.cart a{*/
/*    color: #3c3a32;*/
/*    text-decoration:none;*/
/*}*/
/*.signIn a{*/
/*    color: #3c3a32;*/
/*    text-decoration:none;*/
/*}*/
.signIn {
    background-color: #43824f;
    color: white;
    font-size: 16px;
    border: none;
    padding:10px;
    /*border-left:1px solid lightgray;*/
    /*margin-top:-10px;*/
}
.cart {
    background-color: #43824f;
    color: white;
    font-size: 16px;
    border: none;
    padding:10px 15px;
    /*border-left:1px solid lightgray;*/
    /*margin-top:-10px;*/
}
.dropDown {
    position: relative;
    display: inline-block;
}
.signInDropdown{
    display: none;
    position: absolute;
    background-color: black;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    height:320px;
    right:0px;
    /*top:50px;*/
}
.signInDropdown a {
    color: white;
    padding:10px;
    text-decoration: none;
    display: block;
}
.signIn:hover{
    background-color:black;
}
.signInDropdown a:hover {
    background-color: #43824f;
}
.dropDown:hover .signInDropdown {
    display: block;
}
.dropDown:hover .singIn {
    background-color: #3e8e41;
}
.login-button{
    margin-left:10px;
    margin-bottom:10px;
    width:200px;
    background-color:#43824f;
    border:none;
    color:white;
}


.ddSectionMobile{
    display:none;
}
.viewAllClockBtn{
    border: 0;
    outline: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    line-height: 14px;
    background: rgb(255, 255, 255);
    color: rgb(81, 94, 115);
    padding: 10px 12px;
    font-size: 12px;
    border-radius: 4px;
    text-transform: inherit;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
}
.ddm4 {
    padding-top: 14px;
}
.ddm3 {
    padding-bottom: 4px;
}
.ddm2 {
    border: 0;
}
.ddm1 {
    /*animation: Jzh4Md .3s linear;*/
    position: relative;
    padding: 8px;
    overflow: hidden;
    display: block;
}
.ddm1 .ddm5 {
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}
.ddm1 .ddm6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-left: 8px;
    margin-right: 4px;
    padding: 8px 0;
}
.ddm1 .viewAllClockBtnSection {
    margin-left: auto;
}
.ddlg{
    background: linear-gradient(rgba(40, 116, 240, 0), rgb(40, 116, 240) 92%);
}
.ddm1 .ddlg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.ddm1 .ddm7, .ddm1 ._2MfTud {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ddm1 .ddm7 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.ddTime {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.ddMobileCardSection{
    
}

.viewAllBtn a{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 15px 20px;
    height:100%;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-decoration:none;
}
.cardBoxHeader{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom:0.8px solid #dadada;
}
.cardBoxHeader h2{
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin:0;
}
.cardBoxHeader span{
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
}
.item{
    padding: 25px 15px;
    width: 190px;
}
.item a{
    text-decoration:none;
}
.item:hover img{
    transform: scaleY(1.05);
}
.item-header{
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-summary{
    color: #388e3c;
    padding-top: 8px;
    margin:0;
    overflow: hidden;
    white-space: nowrap;
}

.footerOne{
    padding: 90px 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-color: #fbfaf8;
}
.footer-items li{
    list-style-type:none;
}
.footer-items a{
    color: #848484;
    text-decoration:none;
}
.footerTwo{
    background-image:url("images/footer-bg.jpg");
    padding: 75px 40px;
}
.footer-nav-a{
    display: flex;
    justify-content: center;
    margin-top:20px;
    flex-wrap:wrap;
}
.footer-nav-a a{
    text-decoration:none;
}
.footer-icon{
    margin:0 20px;
    color:white;
    font-size: 20px;
}
.footer-icon:hover{
    margin-top:-2px;
}
.footer-icons-section{
    display: flex;
    justify-content: center;
}
.footerTwo h6{
    padding-right:20px;
    color: #f6f6f6;
}
.footerTwo h6:hover{
    opacity:.8;
}

@media only screen and (max-width:1199px){
    .footerOne h4{
        margin-top:20px;
    }
}
@media only screen and (max-width:1024px){
    .mobileHeader{
        display:block;
        padding:20px 80px;
    }
    .topbar{
        display:none;
    }
    .header{
        display:none;
    }
    .mobileHeaderTopbar{
        display: flex;
        justify-content: space-between;
    }
    .mobileHeaderRight{
        display:flex;
    }
    .mobileSignin{
        padding-right:20px;
    }
    .mobileMenuItems{
        height:250px;
        display:none;
        overflow:scroll;
    }
    .mobileMenuItem{
        display:flex;
        justify-content:space-between;
        padding:10px 0;
        border-bottom: 1px solid lightgray;
    }
    .mobileMenuItem p{
        font-weight:600;
    }
    #mmItemsOne{
        display:none;
    }
    #mmItemsOne li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsTwo{
        display:none;
    }
    #mmItemsTwo li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsThree{
        display:none;
    }
    #mmItemsThree li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsFour{
        display:none;
    }
    #mmItemsFour li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsFive{
        display:none;
    }
    #mmItemsFive li{
        list-style:none;
        padding-left:10px;
    }
    #mmItemsSix{
        display:none;
    }
     #mmItemsSix li{
        list-style:none;
        padding-left:10px;
    }
}
@media only screen and (max-width:991px){
    .mobileHeader{
        display:block;
        padding:20px 60px;
    }
    .mobileMenuItems{
        height:350px;
    }
    .bannerSecondRow a{
        padding: 0 16px;
    }
}
@media only screen and (max-width:800px){
    .bannerFirstRow input{
        margin-bottom:10px;
    }
    .bannerFirstRow select{
        margin-bottom:10px;
    }
    .bannerSecondRow a{
        padding: 0 16px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width:768px){
    .mobileHeader{
        display:block;
        padding:20px;
    }
}
@media only screen and (max-width:540px){
    .ddSection{
        display:none;
    }
    .ddSectionMobile{
        display:block;
    }
}